* {
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
}
/* Top Bannar Section start  */
#top-Banner {
  width: 100%;
  height: 500px;
  background-image: url(images/donation.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#top-Banner .banner-container {
  display: block;
  width: 80%;
  height: 200px;
  color: white;
  text-align: center;
}
.overlay {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(
    to top,
    rgba(20, 17, 17, 0.897),
    rgba(255, 0, 0, 0)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-container h1 {
  font-size: 45px;
  margin: 0px 200px 10px 200px;
}
.banner-container p {
  font-size: 13px;
  margin: 0px 250px 30px 250px;
}
.banner-container a {
  font-size: 15px;
  text-decoration: none;
  background-color: #ff5959;
  color: white;
  border-radius: 5px;
  padding: 15px 15px;
}
/* Top Bannar Section end  */
