* {
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
}
/* Top Bannar Section start  */
#top-Banner {
  width: 100%;
  background-image: url(images/donation.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#top-Banner .container {
  display: block;
  width: 100%;
  padding: 140px 0px;
  color: white;
  text-align: center;
}
.overlay {
  width: 100%;

  background-image: linear-gradient(
    to top,
    rgba(20, 17, 17, 0.997),
    rgba(255, 0, 0, 0)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
#top-Banner .container h1 {
  font-size: 65px;
  margin: 0px 200px 10px 200px;
}
#top-Banner .container .content {
  font-size: 18px;
  margin: 0px 260px 40px 260px;
}

.btn {
  font-size: 20px;
  text-decoration: none;
  background-color: #ff5959;
  color: white;
  border-radius: 5px;
  padding: 15px 15px;
}
/* Top Bannar Section end  */
/* Donate now section start  */
#donate-now {
  display: block;
}
#donate-now .container {
  display: block;
  width: 100%;
  margin: 0px auto;
  padding: 80px 0px;
  text-align: center;
}
#donate-now .container h1 {
  font-size: 45px;
  font-weight: 800;
}
#donate-now .container .content {
  /* margin: 20px 100px; */
  margin: 20px 260px 40px 260px;
  color: #707070;
  font-size: 18px;
}
.price-section {
  display: flex;
  justify-content: center;
}
.select {
  background-color: #ffeeee !important;
  color: #ff5959 !important;
  border: 2.5px solid #ff5959 !important;
}

.price-section .price {
  margin: 10px 20px;
  background-color: #fafafa;
  padding: 30px 15px;
  border-radius: 5px;
  color: #707070;
  font-size: 25px;
}

.taka-input {
  text-align: center;
  width: 58%;
  color: #b3b3b3;
  border-bottom-color: #b3b3b3;
  margin: 20px 0px 30px 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 1.5px;
  height: 25px;
  outline: none;
  font-size: 18px;
  opacity: 0.7;
}
/*  Donate now section end */
/* Donate plan section start */
#donate-plan {
  display: block;
}
#donate-plan .container {
  display: block;
  width: 100%;
  margin: 0px auto;
  padding: 40px 0px;
  text-align: center;
}
#donate-plan .container h1 {
  font-size: 45px;
  font-weight: 900;
}
#donate-plan .container .content {
  margin: 20px 260px 40px 260px;
  color: #707070;
  font-size: 18px;
}
.plan-list {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0px auto;
}
.plan-list .plan {
  text-align: left;
  width: 29.33333%;
  margin: 0% 2%;
  padding: 30px 20px;
  border-radius: 4px;
}
.plan-list .food {
  background-color: rgba(79, 157, 166, 10%);
}

.plan-list .shelter {
  background-color: rgba(255, 89, 89, 10%);
}
.plan-list .frame {
  background-color: rgba(255, 242, 204, 100%);
}
.plan h3,
.plan img {
  margin-bottom: 20px;
}
/* Donate plan section end */
/* Blog section start */
#blog-list {
  display: block;
  background-color: #fcfbf0;
}

#blog-list .container .section-title {
  text-align: center;
  padding-top: 70px;
  font-size: 45px;
  font-weight: 900;
  margin: 40px 0px 80px 0px;
}
#blog-list .container .blog-body {
  display: flex;
  width: 95%;
  margin: 0 auto;
}
.blog {
  text-align: left;
  width: 31.33333%;
  margin: 0% 1%;
  border-radius: 4px;
  background-color: #fcfbfc;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.blog img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px 5px 0px 0px;
}
.blog .date {
  font-size: 15px;
  margin: 10px 4px 0px 10px;
}
.blog .tag {
  background-color: rgb(181, 213, 214);
  color: black;
  padding: 2px 2px;
  margin: 0px 4px 0px 10px;

  border-radius: 4px;
}
.blog .blog-title {
  margin-bottom: 10px;
}
.blog .blog-btn {
  border-radius: 4px;
  margin-left: 10px;
  color: black;
  border-radius: 5px;
}
.blog .blog-content,
.blog .blog-title,
.blog .tag-date {
  padding: 10px 10px;
}
.explore-btn {
  text-decoration: none;
  border: 2px solid black;
  border-radius: 7px;
  padding: 5px 7px;
  color: black;
}
.blog-explore {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  padding: 30px 0px 50px 0px;
}
.blog .blog-bottom {
  padding: 20px 30px 30px 30px;
}
/* blog section end */
/* Get updates section start  */
#get-updates {
  margin: 80px 0px;
  display: block;
  justify-content: center;
  text-align: center;
}
#get-updates h1 {
  font-size: 45px;
  font-weight: 800;
}
.email-section {
  display: block;
  background-color: #fff4d6;
  width: 60%;
  padding: 80px 80px;
  margin: 0 auto;
  border-radius: 5px;
}
#get-updates .content {
  color: #707070;
}
#get-updates .content {
  margin: 40px 260px 80px 260px;
  color: #707070;
  font-size: 18px;
}
.email-section input {
  background-color: #d9d9d9;
  padding: 10px 10px;
  border: none;
  width: 40%;
  border-radius: 4px;
  font-size: 20px;
  outline: none;
}
.subscribe-btn {
  width: 30%;
  padding: 10px 30px;
  font-size: 20px;
  background-color: #ff5959;
  border-radius: 0px 4px 4px 0px;
  color: white;
  text-decoration: none;
  margin-left: -10px;
}
/* Get updates section end  */
/* footer section start */
.footer {
  margin-top: 120px;
  background-color: black;
  padding: 30px 0px;
  text-align: center;
}
.footer h1 {
  font-family: "Lobster", cursive;
  color: #ff5959;
  margin-bottom: 40px;
}
.footer p {
  color: #d9dbe1;
}
/* footer section end */
